
<object *ngIf="!ktoryletak || ktoryletak == 1"
  data="https://media.lidl-flyer.com/25761cd1-1fdc-11ea-9fa3-005056ab0fb6/Online-let%C3%A1k-Platn%C3%BD-od-22.12.2019-02.pdf"
  type="application/pdf"
  width="100%"
  height="800">
  <p>Your browser does not support PDFs.
    <a href="https://example.com/test.pdf">Download the PDF</a>.</p>
</object>


<object *ngIf="ktoryletak == 2"
  data="https://media.kaufland.com/leaflets/sk/KW52_4420/blaetterkatalog/blaetterkatalog/pdf/complete.pdf"
  type="application/pdf"
  width="100%"
  height="800">
  <p>Your browser does not support PDFs.
    <a href="https://media.kaufland.com/leaflets/sk/KW52_4420/blaetterkatalog/blaetterkatalog/pdf/complete.pdf">Download the PDF</a>.</p>
</object>



