<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home" href="#">
    <img src="/assets/OBIT-logo-small.png" width="87" height="25" alt="">
    </a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/newsletter" href="#">Newsletter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/oznamy" href="#">Oznamy mesta</a>
      </li>
    </ul>
  </div>
</nav>
